Repository mcarthey/ellishopefoundation.org: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, services, controllers

feat: Complete email notification system with production SMTP configuration
  COMMIT_MESSAGE_EMAIL_CONFIG.md
  EMAIL_CONFIGURATION_GUIDE.md
  EMAIL_QUICK_REFERENCE.md
  EllisHope/Services/EmailService.cs
  EllisHope/appsettings.json
Due: services

final: Added project time analysis and metrics
  PROJECT_TIME_ANALYSIS.md
Due: none

feat: Added ability to toggle visibility of password
  EllisHope/Areas/Admin/Views/Account/Login.cshtml
  EllisHope/Areas/Admin/Views/Profile/ChangePassword.cshtml
  EllisHope/Areas/Admin/Views/Users/Create.cshtml
  PASSWORD_VISIBILITY_TOGGLE.md
Due: none

feat: Add missing MyApplications views and enhance error handling
  APPLICATION_WORKFLOW_GUIDE.md
  BUG_FIX_MISSING_VIEWS.md
  EllisHope.Tests/Controllers/AccountControllerTests.cs
  EllisHope.Tests/Controllers/MyApplicationsControllerTests.cs
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Controllers/MemberController.cs
  EllisHope/Areas/Admin/Models/RegisterViewModel.cs
  EllisHope/Areas/Admin/Views/Account/Login.cshtml
  EllisHope/Areas/Admin/Views/Account/Register.cshtml
  EllisHope/Views/MyApplications/Details.cshtml
  EllisHope/Views/MyApplications/Edit.cshtml
  EllisHope/Views/Shared/Error.cshtml
  PUBLIC_REGISTRATION_FIX.md
Due: none

Fixed edit view, Proper padding (6rem to clear header) Previous/Next buttons fixed All 6 steps visible Character counters working
  EllisHope.Tests/Controllers/MyApplicationsControllerTests.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Views/MyApplications/Create.cshtml
  EllisHope/Views/MyApplications/Details.cshtml
  EllisHope/Views/MyApplications/Edit.cshtml
Due: controllers

feat: Add Playwright E2E testing framework with Happy Path suite
  EllisHope.Tests/E2E/ApplicationHappyPathTests.cs
  EllisHope.Tests/EllisHope.Tests.csproj
  EllisHope.Tests/playwright.config.json
  PLAYWRIGHT_TESTING_GUIDE.md
Due: none

feat: Add complete CI/CD pipeline with Playwright E2E testing
  .github/workflows/ci-cd.yml
  GITHUB_ACTIONS_SETUP.md
  PLAYWRIGHT_GITHUB_ACTIONS_SUMMARY.md
  codecov.yml
Due: none

feat: Fix Member Portal dashboard and add comprehensive test data seeding
  .github/workflows/ci-cd.yml
  .github/workflows/dotnet-ci.yml
  CLAUDE_BRANCH_ANALYSIS.md
  EllisHope.Tests/Controllers/AccountControllerTests.cs
  EllisHope.Tests/Controllers/MyApplicationsControllerTests.cs
  EllisHope.Tests/E2E/ApplicationHappyPathTests.cs
  EllisHope.Tests/E2E/PlaywrightTestBase.cs
  EllisHope.Tests/EllisHope.Tests.csproj
  EllisHope.Tests/Helpers/TestDataSeeder.cs
  EllisHope.Tests/Integration/CausesControllerIntegrationTests.cs
  EllisHope.Tests/Integration/CustomWebApplicationFactory.cs
  EllisHope/Areas/Admin/Controllers/MemberController.cs
  PLAYWRIGHT_TESTING_GUIDE.md
  TEST_DATA_SEEDING_SUMMARY.md
  TEST_FAILURE_ANALYSIS.md
  TEST_FIX_COMPLETE.md
  XUNIT_CONVERSION_SUMMARY.md
  codecov.yml
Due: none

feat: add E2E test infrastructure and fix Member Portal
  EllisHope.Tests/E2E/ApplicationHappyPathTests.cs
  EllisHope.Tests/E2E/ApplicationWorkflowScenarios.cs
  EllisHope.Tests/E2E/E2EAuthenticationHelper.cs
  EllisHope.Tests/E2E/E2E_RECOMMENDATIONS.md
  EllisHope.Tests/E2E/PlaywrightTestBase.cs
  EllisHope.Tests/E2E/README.md
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/appsettings.Development.json
Due: none

fix: Preserve all form data when saving multi-step draft applications
  EllisHope.Tests/Controllers/MyApplicationsDraftSaveTests.cs
  EllisHope.Tests/E2E/DraftSaveBugTests.cs
  EllisHope.Tests/Integration/DraftApplicationSaveIntegrationTests.cs
  EllisHope/Areas/Admin/Views/Member/Dashboard.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Views/MyApplications/Edit.cshtml
  MANUAL_TEST_PLAN_DRAFT_SAVE.md
Due: controllers

fix: Prevent NULL values when saving incomplete multi-step draft applications
  DRAFT_SAVE_BUG_FINAL_FIX.md
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Views/MyApplications/Edit.cshtml
  GIT_COMMIT_MESSAGE.md
  MANUAL_TEST_PLAN_DRAFT_SAVE.md
Due: controllers

feat: Add "Start Review" and "Request More Information" workflows
  EllisHope.Tests/Integration/ApplicationsControllerIntegrationTests.cs
  EllisHope.Tests/Unit/ClientApplicationServiceTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Controllers/BoardMemberController.cs
  EllisHope/Areas/Admin/Models/ApplicationViewModels.cs
  EllisHope/Areas/Admin/Models/BoardMemberDashboardViewModel.cs
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
  EllisHope/Areas/Admin/Views/Applications/RequestInfo.cshtml
  EllisHope/Areas/Admin/Views/BoardMember/Dashboard.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Views/Shared/_Header.cshtml
Due: none

test: Add comprehensive test coverage for critical gaps
  EllisHope.Tests/Controllers/Admin/AdminBlogControllerTests.cs
  EllisHope.Tests/Controllers/Admin/BoardMemberControllerTests.cs
  EllisHope.Tests/Controllers/Admin/ProfileControllerTests.cs
  EllisHope.Tests/Controllers/ContactControllerTests.cs
  EllisHope.Tests/Controllers/HomeControllerTests.cs
  EllisHope.Tests/Services/EmailServiceTests.cs
  EllisHope.Tests/Services/EmailTemplateServiceTests.cs
  EllisHope.Tests/Services/ImageProcessingServiceTests.cs
Due: none

fix: Resolve compilation errors in test files
  EllisHope.Tests/Controllers/Admin/BoardMemberControllerTests.cs
  EllisHope.Tests/Controllers/Admin/ProfileControllerTests.cs
  EllisHope.Tests/Services/EmailServiceTests.cs
Due: none

fix: Correct test expectations and enum values
  EllisHope.Tests/Services/EmailServiceTests.cs
  EllisHope.Tests/Services/EmailTemplateServiceTests.cs
Due: none

fix: Adjust test assertions to match actual behavior
  EllisHope.Tests/Services/EmailTemplateServiceTests.cs
  EllisHope.Tests/Services/ImageProcessingServiceTests.cs
Due: none

chore(docs): add machine-readable OpenAPI, generation & validation scripts, CI check; update API reference and onboarding
  .github/workflows/docs-api-validate.yml
  EllisHope.Tests/COVERAGE_ANALYSIS.md
  EllisHope.Tests/PHASE5_COMPLETION_REPORT.md
  EllisHope.Tests/PHASE5_USER_MANAGEMENT_SUMMARY.md
  EllisHope.Tests/PHASE6_BACKEND_COMPLETE.md
  EllisHope.Tests/PHASE6_FINAL_SUMMARY.md
  EllisHope.Tests/PHASE6_FOUNDATION_SUMMARY.md
  EllisHope.Tests/PHASE6_PROGRESS_REPORT.md
  EllisHope.Tests/PHASE7_COMPLETE_SUMMARY.md
  EllisHope.Tests/PHASE8_BUILD_SUCCESS.md
  EllisHope.Tests/PHASE8_UI_EMAIL_COMPLETE.md
  EllisHope.Tests/PROJECT_COMPLETE_SUMMARY.md
  README.md
  docs/API_REFERENCE.md
  docs/ONBOARDING.md
  docs/PROJECT_REFERENCE.md
  docs/archive/COVERAGE_ANALYSIS.md
  docs/archive/PHASE5_COMPLETION_REPORT.md
  docs/archive/PHASE5_USER_MANAGEMENT_SUMMARY.md
  docs/archive/PHASE6_BACKEND_COMPLETE.md
  docs/archive/PHASE6_FINAL_SUMMARY.md
  docs/archive/PHASE6_FOUNDATION_SUMMARY.md
  docs/archive/PHASE6_PROGRESS_REPORT.md
  docs/archive/PHASE7_COMPLETE_SUMMARY.md
  docs/archive/PHASE8_BUILD_SUCCESS.md
  docs/archive/PHASE8_UI_EMAIL_COMPLETE.md
  docs/archive/PROJECT_COMPLETE_SUMMARY.md
  docs/archive/README.md
  docs/openapi-generated.json
  docs/openapi-generated.yaml
  docs/openapi.yaml
  scripts/check-md-links.ps1
  scripts/generate-openapi.csx
  scripts/validate-api-reference.csx
Due: none

Fixing tests
  .github/workflows/dotnet-ci.yml
  EllisHope.Tests/Controllers/MyApplicationsControllerTests.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/wwwroot/uploads/media/unsplash/1pAwJiCD60c.jpg
Due: controllers

fix: Update draft save test assertion to match actual success message
  EllisHope.Tests/Controllers/MyApplicationsDraftSaveTests.cs
Due: none

fix: Revert test message assertion after controller change from merge
  EllisHope.Tests/Controllers/MyApplicationsDraftSaveTests.cs
Due: none

test: Add comprehensive ApplicationsController tests (32 tests for voting, approvals, rejections)
  EllisHope.Tests/Controllers/Admin/ApplicationsControllerTests.cs
Due: none

test: Add comprehensive UsersController tests (25 tests for user management CRUD operations)
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
Due: none

test: Add role-based dashboard controller tests (Client, Member, Sponsor - 32 tests)
  EllisHope.Tests/Controllers/Admin/ClientControllerTests.cs
  EllisHope.Tests/Controllers/Admin/MemberControllerTests.cs
  EllisHope.Tests/Controllers/Admin/SponsorControllerTests.cs
Due: none

test: Add tests for public controllers (About, Error, Faq, Services, Team - 15 tests)
  EllisHope.Tests/Controllers/PublicControllersTests.cs
Due: none

docs: Remove redundant auto-generated OpenAPI files (keep hand-written openapi.yaml)
  docs/openapi-generated.json
  docs/openapi-generated.yaml
Due: none

Working on correcting test issues
  EllisHope.Tests/Controllers/Admin/ApplicationsControllerTests.cs
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
Due: none

fix: Use real ServiceCollection for IUrlHelperFactory in controller tests
  EllisHope.Tests/Controllers/Admin/ApplicationsControllerTests.cs
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
Due: none

cleanup: updated documentation locations
  docs/EMAIL_CONFIGURATION_GUIDE.md
  docs/EMAIL_QUICK_REFERENCE.md
  docs/archive/APPLICATION_WORKFLOW_GUIDE.md
  docs/archive/BUG_FIX_MISSING_VIEWS.md
  docs/archive/CLAUDE_BRANCH_ANALYSIS.md
  docs/archive/CLICKABLE_PROGRESS_ICONS_FIX.md
  docs/archive/COMMIT_MESSAGE_EMAIL_CONFIG.md
  docs/archive/DRAFT_SAVE_BUG_FINAL_FIX.md
  docs/archive/EMAIL_AND_COVERAGE_SETUP.md
  docs/archive/FINAL_FIX_PROGRESSIVE_ENHANCEMENT.md
  docs/archive/GITHUB_ACTIONS_SETUP.md
  docs/archive/GIT_COMMIT_MESSAGE.md
  docs/archive/MANUAL_TEST_PLAN_DRAFT_SAVE.md
  docs/archive/MULTI_STEP_FORM_PATTERNS.md
  docs/archive/PASSWORD_VISIBILITY_TOGGLE.md
  docs/archive/PLAYWRIGHT_GITHUB_ACTIONS_SUMMARY.md
  docs/archive/PLAYWRIGHT_TESTING_GUIDE.md
  docs/archive/PROJECT_TIME_ANALYSIS.md
  docs/archive/PUBLIC_REGISTRATION_FIX.md
  docs/archive/QUICK_ANSWER_STANDARDS_AND_TESTS.md
  docs/archive/STEP6_SIGNATURE_FIXES.md
  docs/archive/TEST_DATA_SEEDING_SUMMARY.md
  docs/archive/TEST_FAILURE_ANALYSIS.md
  docs/archive/TEST_FIX_COMPLETE.md
  docs/archive/XUNIT_CONVERSION_SUMMARY.md
Due: none

cleanup: moved documentation
  .claude/settings.local.json
  CLAUDE.md
  EllisHope.Tests/COVERAGE_ANALYSIS.md
  EllisHope.Tests/PHASE5_COMPLETION_REPORT.md
  EllisHope.Tests/PHASE5_USER_MANAGEMENT_SUMMARY.md
  EllisHope.Tests/PHASE6_BACKEND_COMPLETE.md
  EllisHope.Tests/PHASE6_FINAL_SUMMARY.md
  EllisHope.Tests/PHASE6_FOUNDATION_SUMMARY.md
  EllisHope.Tests/PHASE6_PROGRESS_REPORT.md
  EllisHope.Tests/PHASE7_COMPLETE_SUMMARY.md
  EllisHope.Tests/PHASE8_BUILD_SUCCESS.md
  EllisHope.Tests/PHASE8_UI_EMAIL_COMPLETE.md
  EllisHope.Tests/PROJECT_COMPLETE_SUMMARY.md
Due: none

fix: Resolve test failures in ApplicationsController and ImageProcessingService
  EllisHope.Tests/Services/ImageProcessingServiceTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
Due: none

ci: Disable E2E tests in GitHub Actions workflow
  .github/workflows/dotnet-ci.yml
Due: none

feat: Replace heart favicon with Ellis Hope Foundation logo
  EllisHope/Views/Shared/_Layout.cshtml
  EllisHope/wwwroot/favicon.svg
Due: none

fix: Update Google Maps embed URL to Oconomowoc, WI address
  EllisHope/appsettings.json
Due: none

feat: Dynamically display BoardMember users on team pages
  EllisHope.Tests/Controllers/TeamControllerTests.cs
  EllisHope/Controllers/TeamController.cs
  EllisHope/Views/Team/details.cshtml
  EllisHope/Views/Team/v1.cshtml
Due: controllers

fix: Remove duplicate TeamController tests from PublicControllersTests
  EllisHope.Tests/Controllers/PublicControllersTests.cs
Due: none

refactor: Move admin portal styles from embedded CSS to SCSS
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/wwwroot/assets/css/main.css
  EllisHope/wwwroot/assets/css/main.css.map
  EllisHope/wwwroot/assets/scss/_admin.scss
  EllisHope/wwwroot/assets/scss/main.scss
Due: none

fix: Create separate admin.css to avoid style conflicts
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/package.json
  EllisHope/wwwroot/assets/css/admin.css
  EllisHope/wwwroot/assets/css/admin.css.map
  EllisHope/wwwroot/assets/css/main.css
  EllisHope/wwwroot/assets/css/main.css.map
  EllisHope/wwwroot/assets/scss/admin.scss
  EllisHope/wwwroot/assets/scss/main.scss
Due: none

fix: Auto-save application data when navigating between form steps
  EllisHope/Controllers/MyApplicationsController.cs
Due: controllers

fix: Add IsInReviewableState validation to prevent false voting status
  EllisHope.Tests/Unit/ClientApplicationServiceTests.cs
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
  EllisHope/Models/Domain/ClientApplication.cs
  EllisHope/Services/ClientApplicationService.cs
  EllisHope/Services/IClientApplicationService.cs
Due: services

feat: Display dynamic board members on About page
  EllisHope.Tests/Controllers/AboutControllerTests.cs
  EllisHope.Tests/Controllers/PublicControllersTests.cs
  EllisHope/Controllers/AboutController.cs
  EllisHope/Views/About/Index.cshtml
Due: controllers

Path conditions:
  unittests: any of: EllisHope.Tests/Unit/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  integrationtests: any of: EllisHope.Tests/Integration/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  services: any of: EllisHope/Services/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  controllers: any of: EllisHope/Controllers/, EllisHope/Areas/**/Controllers/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
