Repository mcarthey/ellishopefoundation.org: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, services, controllers

fix: Clean up Team Details page for public display
  EllisHope/Views/Team/Details.cshtml
Due: none

fix: Update CSP to allow Google Maps and reCAPTCHA
  .vscode/tasks.json
  EllisHope/web.config
Due: none

feat: Add admin ability to change application status from NeedsInformation
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
  EllisHope/Services/ClientApplicationService.cs
  EllisHope/Services/IClientApplicationService.cs
Due: services

feat: Allow applicants to edit applications in NeedsInformation status
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Views/MyApplications/Details.cshtml
  EllisHope/Views/MyApplications/Edit.cshtml
Due: controllers

feat: Add email obfuscation across all public pages
  EllisHope/Views/Contact/Index.cshtml
  EllisHope/Views/Error/Error.cshtml
  EllisHope/Views/Error/ServerError.cshtml
  EllisHope/Views/Events/Details.cshtml
  EllisHope/Views/Shared/Error.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/Views/Shared/_Layout.cshtml
Due: none

fix: Use consistent default avatar on About page
  EllisHope/Views/About/Index.cshtml
Due: none

feat: Add sponsor showcase feature with admin approval workflow
  EllisHope/Areas/Admin/Controllers/SponsorController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/SponsorViewModels.cs
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Areas/Admin/Views/Sponsor/Dashboard.cshtml
  EllisHope/Areas/Admin/Views/Sponsor/MyCompanyProfile.cshtml
  EllisHope/Areas/Admin/Views/Users/PendingSponsorQuotes.cshtml
  EllisHope/Areas/Admin/Views/Users/RejectQuote.cshtml
  EllisHope/Controllers/AboutController.cs
  EllisHope/Migrations/20251229212714_AddSponsorShowcaseFields.Designer.cs
  EllisHope/Migrations/20251229212714_AddSponsorShowcaseFields.cs
  EllisHope/Models/Domain/ApplicationUser.cs
  EllisHope/Models/ViewModels/AboutPageViewModel.cs
  EllisHope/Views/About/Index.cshtml
Due: controllers

style: Improve sponsor logo display with card-based layout
  EllisHope/Areas/Admin/Views/Sponsor/MyCompanyProfile.cshtml
  EllisHope/Views/About/Index.cshtml
Due: none

style: Remove company name from sponsor logo cards
  EllisHope/Views/About/Index.cshtml
Due: none

feat: Add notification badges to admin sidebar
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
Due: none

fix: Profile photo placeholder showing when photo exists
  EllisHope/Areas/Admin/Views/Users/Edit.cshtml
Due: none

feat: Add sponsor company info to admin user management
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/UserViewModels.cs
  EllisHope/Areas/Admin/Views/Users/Details.cshtml
  EllisHope/Areas/Admin/Views/Users/Edit.cshtml
Due: none

fix: Star rating selector showing wrong value
  EllisHope/Areas/Admin/Views/Sponsor/MyCompanyProfile.cshtml
Due: none

fix: Star rating hover and sponsor logo sizing issues
  EllisHope/Areas/Admin/Views/Sponsor/MyCompanyProfile.cshtml
  EllisHope/Areas/Admin/Views/Users/PendingSponsorQuotes.cshtml
  EllisHope/Views/About/Index.cshtml
Due: none

fix: Use local Bootstrap bundle to fix dropdown on shared hosting
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/wwwroot/assets/js/bootstrap.bundle.min.js
Due: none

feat: Dynamic statistics on About page from causes and user counts
  EllisHope/Controllers/AboutController.cs
  EllisHope/Models/ViewModels/AboutPageViewModel.cs
  EllisHope/Views/About/Index.cshtml
Due: controllers

feat: Randomize cause statistics when more than 3 exist
  EllisHope/Controllers/AboutController.cs
Due: controllers

feat: Add professional HTML email templates for all application workflow notifications
  EllisHope.Tests/Controllers/AboutControllerTests.cs
  EllisHope.Tests/Controllers/Admin/SponsorControllerTests.cs
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
  EllisHope.Tests/Controllers/MyApplicationsControllerTests.cs
  EllisHope/Models/Domain/ApplicationVote.cs
  EllisHope/Services/ClientApplicationService.cs
  EllisHope/Services/EmailTemplateService.cs
  EllisHope/Services/IClientApplicationService.cs
Due: services

feat: Send confirmation email to contact form submitters
  EllisHope.Tests/Controllers/ContactControllerTests.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Services/EmailTemplateService.cs
Due: services, controllers

feat: Add User Responsibilities system for fine-grained content permissions
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
  EllisHope/Areas/Admin/Controllers/BlogController.cs
  EllisHope/Areas/Admin/Controllers/CausesController.cs
  EllisHope/Areas/Admin/Controllers/EventsController.cs
  EllisHope/Areas/Admin/Controllers/MediaController.cs
  EllisHope/Areas/Admin/Controllers/NewsletterController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/EditResponsibilitiesViewModel.cs
  EllisHope/Areas/Admin/Models/UserViewModels.cs
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Areas/Admin/Views/Users/Details.cshtml
  EllisHope/Areas/Admin/Views/Users/Edit.cshtml
  EllisHope/Areas/Admin/Views/Users/Index.cshtml
  EllisHope/Areas/Admin/Views/Users/Responsibilities.cshtml
  EllisHope/Authorization/ResponsibilityAuthorizationHandler.cs
  EllisHope/Authorization/ResponsibilityRequirement.cs
  EllisHope/Data/ApplicationDbContext.cs
  EllisHope/Migrations/20251230203131_AddUserResponsibilities.Designer.cs
  EllisHope/Migrations/20251230203131_AddUserResponsibilities.cs
  EllisHope/Models/Domain/ApplicationUser.cs
  EllisHope/Models/Domain/BlogPost.cs
  EllisHope/Models/Domain/Cause.cs
  EllisHope/Models/Domain/Event.cs
  EllisHope/Models/Domain/Responsibility.cs
  EllisHope/Models/Domain/UserResponsibility.cs
  EllisHope/Program.cs
  EllisHope/Services/IResponsibilityService.cs
  EllisHope/Services/ResponsibilityService.cs
Due: services

feat: Add Testimonials Management System with home page carousel
  EllisHope/Areas/Admin/Controllers/TestimonialsController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/TestimonialViewModels.cs
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Areas/Admin/Views/Testimonials/Create.cshtml
  EllisHope/Areas/Admin/Views/Testimonials/Delete.cshtml
  EllisHope/Areas/Admin/Views/Testimonials/Edit.cshtml
  EllisHope/Areas/Admin/Views/Testimonials/Index.cshtml
  EllisHope/Controllers/HomeController.cs
  EllisHope/Data/ApplicationDbContext.cs
  EllisHope/Data/DbSeeder.cs
  EllisHope/Migrations/20251231012411_AddTestimonials.Designer.cs
  EllisHope/Migrations/20251231012411_AddTestimonials.cs
  EllisHope/Models/Domain/Responsibility.cs
  EllisHope/Models/Domain/Testimonial.cs
  EllisHope/Program.cs
  EllisHope/Services/ITestimonialService.cs
  EllisHope/Services/TestimonialService.cs
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_MediaPickerById.cshtml
Due: services, controllers

fix: Reduce testimonial font size and prevent carousel layout shift
  EllisHope/Views/Home/Index.cshtml
Due: none

style: Increase testimonial font sizes to better fill section
  EllisHope/Views/Home/Index.cshtml
Due: none

feat: Add Learned Geek developer credit to footer
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/wwwroot/assets/img/logo/learned-geek-logo.png
Due: none

docs: Add reCAPTCHA v3 implementation guide
  docs/RECAPTCHA_IMPLEMENTATION_GUIDE.md
Due: none

fix: Add cdn.tiny.cloud to CSP style-src directive
  EllisHope/web.config
Due: none

feat: Add downloadable blank application form PDF
  EllisHope.Tests/Unit/PdfServiceTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Views/Applications/Index.cshtml
  EllisHope/Services/IPdfService.cs
  EllisHope/Services/PdfService.cs
Due: services

fix: Update HomeControllerTests for async Index action
  EllisHope.Tests/Controllers/HomeControllerTests.cs
Due: none

style: Improve blank application PDF with logo, page breaks, and layout
  EllisHope.Tests/Unit/PdfServiceTests.cs
  EllisHope/Services/PdfService.cs
  EllisHope/wwwroot/assets/img/logo/ellis-hope-logo.png
Due: services

fix: Align Address field line with 2-column row fields in blank form PDF
  EllisHope/Services/PdfService.cs
Due: services

feat: Integrate Givebutter donation platform with admin settings
  EllisHope.Tests/Helpers/TestDataSeeder.cs
  EllisHope.Tests/Services/SiteSettingsServiceTests.cs
  EllisHope/Areas/Admin/Controllers/SettingsController.cs
  EllisHope/Areas/Admin/Models/GivebutterSettingsViewModel.cs
  EllisHope/Areas/Admin/Views/Causes/Create.cshtml
  EllisHope/Areas/Admin/Views/Causes/Edit.cshtml
  EllisHope/Areas/Admin/Views/Settings/Index.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Data/ApplicationDbContext.cs
  EllisHope/Data/DbSeeder.cs
  EllisHope/Migrations/20260213122935_AddSiteSettings.Designer.cs
  EllisHope/Migrations/20260213122935_AddSiteSettings.cs
  EllisHope/Models/Domain/SiteSetting.cs
  EllisHope/Program.cs
  EllisHope/Services/ISiteSettingsService.cs
  EllisHope/Services/SiteSettingsService.cs
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/Views/Shared/_Layout.cshtml
  EllisHope/web.config
Due: services

fix: Use Givebutter widget overlay instead of redirect for donate buttons
  EllisHope/Services/ISiteSettingsService.cs
  EllisHope/Services/SiteSettingsService.cs
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
Due: services

fix: Use Givebutter widget ID for donation overlay instead of campaign slug
  EllisHope/Areas/Admin/Controllers/SettingsController.cs
  EllisHope/Areas/Admin/Models/GivebutterSettingsViewModel.cs
  EllisHope/Areas/Admin/Views/Settings/Index.cshtml
  EllisHope/Data/DbSeeder.cs
  EllisHope/Services/ISiteSettingsService.cs
  EllisHope/Services/SiteSettingsService.cs
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
Due: services

fix: Use campaign code for Givebutter overlay and fix CSP frame-src
  EllisHope.Tests/Helpers/TestDataSeeder.cs
  EllisHope.Tests/Services/SiteSettingsServiceTests.cs
  EllisHope/Areas/Admin/Controllers/SettingsController.cs
  EllisHope/Areas/Admin/Models/GivebutterSettingsViewModel.cs
  EllisHope/Areas/Admin/Views/Settings/Index.cshtml
  EllisHope/Data/DbSeeder.cs
  EllisHope/Services/ISiteSettingsService.cs
  EllisHope/Services/SiteSettingsService.cs
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/web.config
Due: services

fix: Add bare domain to CSP connect-src for Givebutter widget API calls
  EllisHope/web.config
Due: none

refactor: Auto-derive campaign code from Givebutter URL, remove redundant setting
  EllisHope.Tests/Helpers/TestDataSeeder.cs
  EllisHope.Tests/Services/SiteSettingsServiceTests.cs
  EllisHope/Areas/Admin/Controllers/SettingsController.cs
  EllisHope/Areas/Admin/Models/GivebutterSettingsViewModel.cs
  EllisHope/Areas/Admin/Views/Settings/Index.cshtml
  EllisHope/Data/DbSeeder.cs
  EllisHope/Services/ISiteSettingsService.cs
  EllisHope/Services/SiteSettingsService.cs
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
Due: services

Path conditions:
  unittests: any of: EllisHope.Tests/Unit/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  integrationtests: any of: EllisHope.Tests/Integration/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  services: any of: EllisHope/Services/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
  controllers: any of: EllisHope/Controllers/, EllisHope/Areas/**/Controllers/, but not: **/*.cshtml, **/*.razor, **/*.g.cs, **/*.Designer.cs, **/AssemblyInfo.cs, **/GlobalUsings.g.cs, **/.NETCoreApp,Version=*.AssemblyAttributes.cs, **/Migrations/**, **/*ModelSnapshot.cs, **/obj/**, **/bin/**, **/wwwroot/**, **/assets/**, **/Program.cs, **/*.Tests/**, **/TestResults/**
