Repository mcarthey/ellishopefoundation.org: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, services, controllers

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%

# Ignore files that shouldn't be included in coverage
ignore:
  # Razor Views (HTML markup, not testable code)
  - "**/*.cshtml"
  - "**/*.razor"
  
  # Auto-generated files
  - "**/*.g.cs"
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/GlobalUsings.g.cs"
  - "**/.NETCoreApp,Version=*.AssemblyAttributes.cs"
  
  # Entity Framework Migrations (auto-generated)
  - "**/Migrations/**"
  - "**/*ModelSnapshot.cs"
  
  # Build output
  - "**/obj/**"
  - "**/bin/**"
  
  # Static files
  - "**/wwwroot/**"
  - "**/assets/**"
  
  # Startup/Configuration (tested via integration)
  - "**/Program.cs"
  
  # Test projects themselves
  - "**/*.Tests/**"
  - "**/TestResults/**"

# Comment on pull requests
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Coverage flags for different areas
flags:
  unittests:
    paths:
      - EllisHope.Tests/Unit/
    carryforward: true
    
  integrationtests:
    paths:
      - EllisHope.Tests/Integration/
    carryforward: true
    
  services:
    paths:
      - EllisHope/Services/
    carryforward: true
    
  controllers:
    paths:
      - EllisHope/Controllers/
      - EllisHope/Areas/**/Controllers/
    carryforward: true

feat: Add profile photo upload to Profile Edit page
  EllisHope.Tests/Controllers/Admin/ProfileControllerTests.cs
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Areas/Admin/Models/ProfileViewModels.cs
  EllisHope/Areas/Admin/Views/Profile/Edit.cshtml
Due: none

feat: Add password reset functionality and refactor email services
  EllisHope.Tests/Controllers/AccountControllerTests.cs
  EllisHope.Tests/Services/AccountEmailServiceTests.cs
  EllisHope.Tests/Services/EmailTemplateServiceTests.cs
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Models/ForgotPasswordViewModel.cs
  EllisHope/Areas/Admin/Models/ResetPasswordViewModel.cs
  EllisHope/Areas/Admin/Views/Account/ForgotPassword.cshtml
  EllisHope/Areas/Admin/Views/Account/ForgotPasswordConfirmation.cshtml
  EllisHope/Areas/Admin/Views/Account/Login.cshtml
  EllisHope/Areas/Admin/Views/Account/ResetPassword.cshtml
  EllisHope/Areas/Admin/Views/Account/ResetPasswordConfirmation.cshtml
  EllisHope/Program.cs
  EllisHope/Services/AccountEmailService.cs
  EllisHope/Services/EmailTemplateService.cs
  EllisHope/Services/IAccountEmailService.cs
Due: services

fix: Resolve DbContext concurrency error in MediaService thumbnail generation
  EllisHope/Services/MediaService.cs
Due: services

feat: Add application logging and improved error handling
  EllisHope.Tests/Controllers/PublicControllersTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Controllers/LogsController.cs
  EllisHope/Areas/Admin/Models/LogsViewModels.cs
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Controllers/ErrorController.cs
  EllisHope/Data/ApplicationDbContext.cs
  EllisHope/Middleware/ErrorHandlingMiddleware.cs
  EllisHope/Migrations/20251223213801_AddApplicationLogs.Designer.cs
  EllisHope/Migrations/20251223213801_AddApplicationLogs.cs
  EllisHope/Models/Domain/ApplicationLog.cs
  EllisHope/Models/ViewModels/ErrorViewModel.cs
  EllisHope/Program.cs
  EllisHope/Services/DatabaseLoggerService.cs
  EllisHope/Services/IDatabaseLoggerService.cs
  EllisHope/Views/Error/BadRequest.cshtml
  EllisHope/Views/Error/Error.cshtml
  EllisHope/Views/Error/Forbidden.cshtml
  EllisHope/Views/Error/NotFound.cshtml
  EllisHope/Views/Error/ServerError.cshtml
  EllisHope/Views/Error/Unauthorized.cshtml
Due: services, controllers

fix: Fix comment form not saving in Application Details
  EllisHope.Tests/Integration/ApplicationsControllerIntegrationTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
Due: none

fix: Correct checkbox binding order for IsPrivate field
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
Due: none

feat: Add cleanup pattern to E2E tests to prevent test data pollution
  EllisHope.Tests/E2E/DraftSaveBugTests.cs
  EllisHope.Tests/E2E/PlaywrightTestBase.cs
Due: none

Adjusted workflow to use xUnit filtering syntax; Updated context factory for tests to only use sensitive data logging in debug
  .github/workflows/dotnet-ci.yml
  EllisHope.Tests/Integration/CustomWebApplicationFactory.cs
Due: none

Updating workflows to automatically generate reference documentation for the controllers via swagger docs and annotations
  .github/workflows/api-docs.yml
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Controllers/BlogController.cs
  EllisHope/Areas/Admin/Controllers/BoardMemberController.cs
  EllisHope/Areas/Admin/Controllers/CausesController.cs
  EllisHope/Areas/Admin/Controllers/ClientController.cs
  EllisHope/Areas/Admin/Controllers/DashboardController.cs
  EllisHope/Areas/Admin/Controllers/EventsController.cs
  EllisHope/Areas/Admin/Controllers/LogsController.cs
  EllisHope/Areas/Admin/Controllers/MediaController.cs
  EllisHope/Areas/Admin/Controllers/MediaMigrationController.cs
  EllisHope/Areas/Admin/Controllers/MemberController.cs
  EllisHope/Areas/Admin/Controllers/PagesController.cs
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Areas/Admin/Controllers/SponsorController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Controllers/AboutController.cs
  EllisHope/Controllers/BlogController.cs
  EllisHope/Controllers/CausesController.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Controllers/ErrorController.cs
  EllisHope/Controllers/EventController.cs
  EllisHope/Controllers/FaqController.cs
  EllisHope/Controllers/HomeController.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Controllers/ServicesController.cs
  EllisHope/Controllers/TeamController.cs
  EllisHope/EllisHope.csproj
  EllisHope/Program.cs
  docs/API_REFERENCE.md
  docs/API_REFERENCE_GENERATED.md
  docs/openapi-generated.json
  docs/openapi-generated.yaml
  scripts/annotate-controllers-and-docs.csx
  scripts/generate-api-reference-md.csx
Due: controllers

fix: Resolve API documentation workflow issues and update Swagger annotations
  .github/workflows/api-docs.yml
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Controllers/DashboardController.cs
  EllisHope/Areas/Admin/Controllers/LogsController.cs
  EllisHope/Areas/Admin/Controllers/MediaMigrationController.cs
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Controllers/ErrorController.cs
  EllisHope/Controllers/FaqController.cs
  EllisHope/Controllers/HomeController.cs
  EllisHope/Controllers/ServicesController.cs
  EllisHope/Controllers/TeamController.cs
  EllisHope/EllisHope.csproj
  EllisHope/Program.cs
Due: controllers

fix: Add missing Swashbuckle.AspNetCore.Annotations using statements to all controllers
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Controllers/BlogController.cs
  EllisHope/Areas/Admin/Controllers/BoardMemberController.cs
  EllisHope/Areas/Admin/Controllers/CausesController.cs
  EllisHope/Areas/Admin/Controllers/ClientController.cs
  EllisHope/Areas/Admin/Controllers/DashboardController.cs
  EllisHope/Areas/Admin/Controllers/EventsController.cs
  EllisHope/Areas/Admin/Controllers/LogsController.cs
  EllisHope/Areas/Admin/Controllers/MediaController.cs
  EllisHope/Areas/Admin/Controllers/MediaMigrationController.cs
  EllisHope/Areas/Admin/Controllers/MemberController.cs
  EllisHope/Areas/Admin/Controllers/PagesController.cs
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Areas/Admin/Controllers/SponsorController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Controllers/BlogController.cs
  EllisHope/Controllers/CausesController.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Controllers/ErrorController.cs
  EllisHope/Controllers/EventController.cs
  EllisHope/Controllers/FaqController.cs
  EllisHope/Controllers/HomeController.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Controllers/ServicesController.cs
  EllisHope/Controllers/TeamController.cs
Due: controllers

feat: Add comprehensive Swagger documentation with response types, tags, and detailed XML comments
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Controllers/BlogController.cs
  EllisHope/Controllers/CausesController.cs
  EllisHope/Controllers/EventController.cs
Due: controllers

feat: Add comprehensive Swagger documentation to critical controllers
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Controllers/AboutController.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Controllers/FaqController.cs
  EllisHope/Controllers/HomeController.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Controllers/ServicesController.cs
Due: controllers

feat: Add comprehensive Swagger documentation to LogsController
  EllisHope/Areas/Admin/Controllers/LogsController.cs
Due: none

refactor: Hide controllers from API documentation and improve code quality
  .claude/settings.local.json
  EllisHope/Areas/Admin/Controllers/AccountController.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
  EllisHope/Areas/Admin/Controllers/BlogController.cs
  EllisHope/Areas/Admin/Controllers/BoardMemberController.cs
  EllisHope/Areas/Admin/Controllers/CausesController.cs
  EllisHope/Areas/Admin/Controllers/ClientController.cs
  EllisHope/Areas/Admin/Controllers/DashboardController.cs
  EllisHope/Areas/Admin/Controllers/EventsController.cs
  EllisHope/Areas/Admin/Controllers/LogsController.cs
  EllisHope/Areas/Admin/Controllers/MediaController.cs
  EllisHope/Areas/Admin/Controllers/MediaMigrationController.cs
  EllisHope/Areas/Admin/Controllers/MemberController.cs
  EllisHope/Areas/Admin/Controllers/PagesController.cs
  EllisHope/Areas/Admin/Controllers/ProfileController.cs
  EllisHope/Areas/Admin/Controllers/SponsorController.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Controllers/AboutController.cs
  EllisHope/Controllers/BlogController.cs
  EllisHope/Controllers/CausesController.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Controllers/ErrorController.cs
  EllisHope/Controllers/EventController.cs
  EllisHope/Controllers/FaqController.cs
  EllisHope/Controllers/HomeController.cs
  EllisHope/Controllers/MyApplicationsController.cs
  EllisHope/Controllers/ServicesController.cs
  EllisHope/Controllers/TeamController.cs
  EllisHope/EllisHope.csproj
Due: controllers

refactor: Update API docs workflow to generate from XML comments
  .github/workflows/api-docs.yml
Due: none

fix: Route non-admin users to their role-specific dashboards on login
  EllisHope.Tests/Controllers/AccountControllerTests.cs
  EllisHope/Areas/Admin/Controllers/AccountController.cs
Due: none

feat: Add PDF download actions for client applications
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
Due: none

fix: Improve PDF download dropdown and fix PDF rendering issues
  EllisHope.Tests/Controllers/Admin/ApplicationsControllerTests.cs
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Services/PdfService.cs
Due: services

fix: Change Review action to redirect to Details instead of calling it
  EllisHope.Tests/Controllers/Admin/ApplicationsControllerTests.cs
  EllisHope/Areas/Admin/Controllers/ApplicationsController.cs
Due: none

fix: Remove emoji characters from voting dropdown options
  EllisHope/Areas/Admin/Views/Applications/Details.cshtml
Due: none

feat: Add dynamic content management system for public pages
  EllisHope/Program.cs
  EllisHope/Services/PageContentHelper.cs
  EllisHope/Services/PageTemplateService.cs
  EllisHope/Views/About/Index.cshtml
  EllisHope/Views/_ViewImports.cshtml
Due: services

feat: Expand dynamic content management to Home, Services, Contact pages
  EllisHope.Tests/Unit/PageTemplateServiceTests.cs
  EllisHope/Services/PageTemplateService.cs
  EllisHope/Views/Contact/Index.cshtml
  EllisHope/Views/Home/Index.cshtml
  EllisHope/Views/Services/Index.cshtml
Due: services

feat: Add Template Images Gallery for managing default page images
  EllisHope/Areas/Admin/Controllers/TemplatesController.cs
  EllisHope/Areas/Admin/Models/TemplateImagesViewModel.cs
  EllisHope/Areas/Admin/Views/Pages/Index.cshtml
  EllisHope/Areas/Admin/Views/Templates/Images.cshtml
  EllisHope/Services/PageContentHelper.cs
Due: services

refactor: Clean up controller routes and standardize naming conventions
  EllisHope.Tests/Controllers/BlogControllerTests.cs
  EllisHope.Tests/Controllers/CausesControllerTests.cs
  EllisHope.Tests/Controllers/PublicEventsControllerTests.cs
  EllisHope.Tests/Controllers/TeamControllerTests.cs
  EllisHope.Tests/Integration/CausesControllerIntegrationTests.cs
  EllisHope/Areas/Admin/Views/Client/Dashboard.cshtml
  EllisHope/Areas/Admin/Views/Client/Resources.cshtml
  EllisHope/Areas/Admin/Views/Member/Dashboard.cshtml
  EllisHope/Areas/Admin/Views/Member/Events.cshtml
  EllisHope/Areas/Admin/Views/Member/Volunteer.cshtml
  EllisHope/Controllers/BlogController.cs
  EllisHope/Controllers/CausesController.cs
  EllisHope/Controllers/EventsController.cs
  EllisHope/Controllers/TeamController.cs
  EllisHope/Program.cs
  EllisHope/Services/PageTemplateService.cs
  EllisHope/Views/Blog/Details.cshtml
  EllisHope/Views/Blog/Index.cshtml
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Causes/Index.cshtml
  EllisHope/Views/Causes/grid.cshtml
  EllisHope/Views/Events/Details.cshtml
  EllisHope/Views/Events/Index.cshtml
  EllisHope/Views/Shared/_Footer.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/Views/Team/Details.cshtml
  EllisHope/Views/Team/Index.cshtml
Due: services, controllers

fix: Update Unsplash attribution to follow API guidelines
  EllisHope/Areas/Admin/Views/Media/Edit.cshtml
  EllisHope/Areas/Admin/Views/Media/Index.cshtml
  EllisHope/Areas/Admin/Views/Media/UnsplashSearch.cshtml
Due: none

feat: Reorganize template images and seed all pages
  EllisHope/Data/DbSeeder.cs
  EllisHope/Services/PageTemplateService.cs
  EllisHope/Views/Blog/Details.cshtml
  EllisHope/Views/Blog/Index.cshtml
  EllisHope/Views/Causes/Details.cshtml
  EllisHope/Views/Causes/Index.cshtml
  EllisHope/Views/Causes/grid.cshtml
  EllisHope/Views/Error/BadRequest.cshtml
  EllisHope/Views/Error/Error.cshtml
  EllisHope/Views/Error/Forbidden.cshtml
  EllisHope/Views/Error/Index.cshtml
  EllisHope/Views/Error/NotFound.cshtml
  EllisHope/Views/Error/ServerError.cshtml
  EllisHope/Views/Error/Unauthorized.cshtml
  EllisHope/Views/Events/Details.cshtml
  EllisHope/Views/Events/Index.cshtml
  EllisHope/Views/Faq/Index.cshtml
  EllisHope/Views/Team/Details.cshtml
  EllisHope/Views/Team/Index.cshtml
  EllisHope/wwwroot/assets/img/templates/about/about-section.jpg
  EllisHope/wwwroot/assets/img/templates/about/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/blog/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/causes/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/contact/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/events/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/faq/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/home/about-section.jpg
  EllisHope/wwwroot/assets/img/templates/home/cta-background.jpg
  EllisHope/wwwroot/assets/img/templates/home/hero-image.png
  EllisHope/wwwroot/assets/img/templates/services/header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/shared/default-header-banner.jpg
  EllisHope/wwwroot/assets/img/templates/team/header-banner.jpg
Due: services

feat: Add contact form with reCAPTCHA v3 spam protection
  EllisHope.Tests/Controllers/ContactControllerTests.cs
  EllisHope.Tests/Unit/PageTemplateServiceTests.cs
  EllisHope/Controllers/ContactController.cs
  EllisHope/Models/ViewModels/ContactFormViewModel.cs
  EllisHope/Program.cs
  EllisHope/Services/EmailService.cs
  EllisHope/Services/IEmailService.cs
  EllisHope/Services/RecaptchaService.cs
  EllisHope/Views/Contact/Index.cshtml
  EllisHope/appsettings.json
  EllisHope/wwwroot/assets/css/main.css
  EllisHope/wwwroot/assets/css/main.css.map
  EllisHope/wwwroot/assets/scss/_contact.scss
Due: services, controllers

fix: Force black text color on form-4 textarea with !important
  EllisHope/wwwroot/assets/css/main.css
  EllisHope/wwwroot/assets/css/main.css.map
  EllisHope/wwwroot/assets/scss/_contact.scss
Due: none

feat: Add newsletter subscription and management system
  EllisHope/Areas/Admin/Controllers/NewsletterController.cs
  EllisHope/Areas/Admin/Models/NewsletterViewModels.cs
  EllisHope/Areas/Admin/Views/Newsletter/Compose.cshtml
  EllisHope/Areas/Admin/Views/Newsletter/History.cshtml
  EllisHope/Areas/Admin/Views/Newsletter/Index.cshtml
  EllisHope/Areas/Admin/Views/Newsletter/Preview.cshtml
  EllisHope/Areas/Admin/Views/Newsletter/View.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Controllers/NewsletterController.cs
  EllisHope/Data/ApplicationDbContext.cs
  EllisHope/Migrations/20251227195955_AddNewsletterSubscribers.Designer.cs
  EllisHope/Migrations/20251227195955_AddNewsletterSubscribers.cs
  EllisHope/Models/Domain/Newsletter.cs
  EllisHope/Models/Domain/Subscriber.cs
  EllisHope/Program.cs
  EllisHope/Services/INewsletterService.cs
  EllisHope/Services/NewsletterService.cs
  EllisHope/Views/Contact/Index.cshtml
  EllisHope/Views/Newsletter/Unsubscribe.cshtml
  EllisHope/Views/Newsletter/UnsubscribeError.cshtml
  EllisHope/Views/Newsletter/UnsubscribeSuccess.cshtml
Due: services, controllers

style: Improve Sign In button styling in header
  EllisHope/Views/Shared/_Header.cshtml
Due: none

style: Make Sign In button more visible with border
  EllisHope/Views/Shared/_Header.cshtml
Due: none

style: Force black text on Sign In button with !important
  EllisHope/Views/Shared/_Header.cshtml
Due: none

style: Use red color for Sign In button visibility
  EllisHope/Views/Shared/_Header.cshtml
Due: none

style: Simplify Sign In to icon-only circular button
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/wwwroot/assets/css/main.css
  EllisHope/wwwroot/assets/css/main.css.map
  EllisHope/wwwroot/assets/scss/_header.scss
Due: none

feat: Display profile photo in Profile page and navigation headers
  EllisHope/Areas/Admin/Views/Profile/Index.cshtml
  EllisHope/Areas/Admin/Views/Shared/_AdminLayout.cshtml
  EllisHope/Views/Shared/_Header.cshtml
  EllisHope/wwwroot/assets/css/admin.css
Due: none

feat: Improve image selection dropdown in page editor
  EllisHope/Areas/Admin/Views/Pages/Edit.cshtml
Due: none

feat: Display profile photos in User Management pages
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/UserViewModels.cs
  EllisHope/Areas/Admin/Views/Users/Details.cshtml
  EllisHope/Areas/Admin/Views/Users/Index.cshtml
Due: none

feat: Add board member photo management in admin user pages
  EllisHope.Tests/Controllers/Admin/ProfileControllerTests.cs
  EllisHope.Tests/Controllers/Admin/UsersControllerTests.cs
  EllisHope/Areas/Admin/Controllers/UsersController.cs
  EllisHope/Areas/Admin/Models/UserViewModels.cs
  EllisHope/Areas/Admin/Views/Users/Create.cshtml
  EllisHope/Areas/Admin/Views/Users/Edit.cshtml
  EllisHope/Views/Team/Details.cshtml
  EllisHope/Views/Team/Index.cshtml
Due: none
